.footer {
    position: fixed;
    bottom: 0; left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between; /* 아이템들을 공간을 두고 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    background-color: rgb(228, 228, 228);
    color: darkslategray;
}

.recommendationBox {
    display: flex;
    justify-content: space-between; /* 아이템들을 공간을 두고 배치 */
    align-items: center; /* 수직 가운데 정렬 */
}
