.rankingRecipes {
    display: flex;
    overflow-x: auto; /* 수평 스크롤 활성화 */
    white-space: nowrap; /* 아이템들을 한 줄로 배치 */
    gap: 10px; /* 아이템 간의 간격을 추가 */
}

.rankingRecipe {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 150px; /* 아이템의 최소 너비를 설정하여 가독성 향상 */
}
