[client]
port=3306
socket=/tmp/mysql.sock

[mysqld]
port=3306
datadir=/var/lib/mysql
log_error=/var/log/mysql/error.log
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=128M

[mysqldump]
quick

